<!DOCTYPE html>
<html lang="en">
<head>
<%- include('partials/head'); -%>
</head>
<body>
<%- include('partials/menu'); -%>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p></p>
      
    </div>
    <div class="col-sm-4"> 
      <!-- <p><h4>Nodejs Express Site for Azure KS | CI | AD Demo </h4></p> --> 

      <p><h2>Welcome to Inhouse Training</h2></p>
      <p><h2>Azure DevOps</h2></p>
      <h4>Container/Pod/Sys name : <b><%=sakura%></b> </h4>
      <h4>Container/Pod/Sys CPU : <b><%=mazda%></b> </h4>
      <h4>Container/Pod/Sys FreeMemory : <b><%=honda%></b> </h4>
      <h4>Container/Pod/Sys TotalMemory : <b><%=bmw%></b> </h4>
    </div>
    <div class="col-sm-4"> 
      <p></p>
    </div>
  </div>
</div>

</body>
<%- include('partials/script'); -%>
</html>