<!DOCTYPE html>
<html lang="en">
<head>
 <% include partials/head %> 
</head>
<body>
<% include partials/menu %>

<div class="container-fluid bg-3 text-center">    
  <h3><%= page %></h3><br>
  <div class="row">
    <div class="col-sm-4">
      <p></p>
      
    </div>
    <div class="col-sm-4"> 
      <!-- <p><h4>Nodejs Express Site for Azure KS | CI | AD Demo </h4></p> --> 

      <p><h1>Welcome DHL Dev</h1></p>
      <p><h2>To </h2></p>
      <p><h2> DO180 - Redhat OpenShift I </h2></p>

      <h4>Container/Pod name : <b><%=sakura%></b> </h4>
      <h4>Container/Pod CPU : <b><%=mazda%></b> </h4>
      <h4>Container/Pod FreeMemory : <b><%=honda%></b> </h4>
      <h4>Container/Pod TotalMemory : <b><%=bmw%></b> </h4>
    </div>
    <div class="col-sm-4"> 
      <p></p>
    </div>
  </div>
</div>

</body>
<% include partials/script %>
</html>